* {
    box-sizing: border-box;
}

body {
    background-color: #c9d2fc;
}

.cat-head {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 205px;
    height: 180px;
    border: 1px solid #000;
    border-radius: 46%;
    background: linear-gradient(#5e5e5e 85%, #45454f 100%);
}

.box {
    width: 200px;
    height: 600px;
    background-color: #000;
    position: absolute;
    top: 800px;
    left: 650px;
}